@font-face {
  font-family: 'Fanky Bubble Graffiti';
  src: url('../fonts/FankyBubble Graffiti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aggravo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Aggravo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Aggravo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

/* 노말라이즈 */
body,
ul,
li, h2, p, h1, span {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

html>body {
  font-family: 'Pretendard-Regular';
}

/* 노말라이즈 끝 */

/* 라이브러리 */
.flex {
  display: flex;
}

.con {
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
}

.img-box>img {
  width: 100%;
  display: block;
}

.flex-d  {
  flex-direction: column;
}

.timline_wrap {
  overflow: hidden;
}

.main_text-wrap .main_text-box .main_title.create_1,
.main_text-wrap .main_text-box .main_text.create_1 {
  transform: translateY(0);
  opacity: 1;
}

.create_2 {
  transform: translateY(50%);
  opacity: 0;
}

.create_3 {
  transform: translatex(-100%);
  opacity: 0;
}

.create_4 {
  transform: translateY(50%);
  opacity: 0;
}

.create_5 {
  transform: translate3d(100%, 100%, 0); /* 좌상단 바깥 */
  opacity: 0;
  will-change: clip-path;
}

.create_6, .create_7, .create_8 {
  opacity: 0;
}
/* 컬러칩 */
:root {
  --color-main : #E63E0F;
  --color-btn1: #4fb15e;
  --color-btn2: #046146;
  --color-background: #fff9e7;
  --color-point-text: #e9ff69;
  --color-sub_green: #1c964a;
  --color-title: #4b4b4b;
  --color-text: #555;
  --color-point-title: #f8775c;
}
/* 라이브러리 끝 */
/* 스크롤 */
body::-webkit-scrollbar {
  width: 3px;
  height: 0;
}

body::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #046746; /* 스크롤바의 색상 */

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #d1d1d1;  /*스크롤바 뒷 배경 색상*/
}


/* 상단바 시작 */
.hide-header {
  transform: translateY(-100%);
  opacity: 1;
}

.top-bar {  
  position: fixed;
  z-index: 100;
  height: 110px;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
}

.top-bar>.hd-con.show_sidemenu {
  background-color: #fff;
  
}

.top-bar>.hd-con {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #FFF9E7;
    transition: all .5s;
}

.top-bar>.hd-con > .hd-inner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 25px 255px;
  display: flex;
  justify-content: space-between;
}
.top-bar>.hd-con .logo_box {
  width: 50px;
  height: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.top-bar>.hd-con .logo_box img {
  width: 43px;
  height: 60px;
}

.top-bar>.hd-con .logo_box .logo_sidemenu {
  position: absolute;
  top: 0;
  display: none;
}

.top-bar>.hd-con .logo_box .logo_sidemenu.show_sidemenu {
  display: block;
}

.top-bar>.hd-con .hd-sidemenu_box {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar>.hd-con .hd-sidemenu_box .sidemenu_btn {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #046746;
  top: 100%;
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
  transition: all .3s;
  border-radius: 10px;
}

.top-bar>.hd-con .hd-sidemenu_box .sidemenu_btn:first-child {
  top: calc(100% - 15px);
}
.top-bar>.hd-con .hd-sidemenu_box .sidemenu_btn:nth-child(2) {
  top: calc(100% - 30px);
}
.top-bar>.hd-con .hd-sidemenu_box .sidemenu_btn:last-child {
  top: calc(100% - 45px);
}

.top-bar>.hd-con .hd-sidemenu_box.show_sidemenu .sidemenu_btn {
  background-color: #e63e0f;
}

.top-bar>.hd-con .hd-sidemenu_box.show_sidemenu .sidemenu_btn:first-child {
  transform: rotate(45deg);
  top: 50%;
  left: 0;
}

.top-bar>.hd-con .hd-sidemenu_box.show_sidemenu .sidemenu_btn:nth-child(2) {
  display: none;
}

.top-bar>.hd-con .hd-sidemenu_box.show_sidemenu .sidemenu_btn:last-child {
  transform: rotate(-45deg);
  top: 50%;
  left: 0;
}

/* 헤더 끝 */


/* 사이드 메뉴 */

.sidemenu {
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  transition: all .5s;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.sidemenu.show_sidemenu {
  visibility: visible;
  opacity: 1;
}

.sidemenu>.all-wrap_sidemenu {
  height: 80%;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu>ul>li {
  padding-bottom: 40px;
  text-align: center;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu>ul>li>a {
  font-family: 'Aggravo';
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #FDB8A5;
  transition: all .5s;
  position: relative;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu>ul>li:hover>a {
  color: #e63e0f;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu>ul>li>a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: #e63e0f;
  top: 100%;
  left: 0;
  transition: width 0.5s;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu>ul>li:hover>a::after {
  width: 100%;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu>ul>li>div {
    transform: translatey(-30%);
    margin-top: -20px;
    opacity: 0;
    transition: all .5s;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu>ul>li:hover>div {
    opacity: 1;
    transform: translatey(15px);
    margin-top: 0;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu .submenu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu .submenu>li>a {
  font-size: 30px;
  font-family: 'Aggravo';
  font-weight: medium;
  color: #5B5B5B;
  transition: all .3s;
}

.sidemenu>.all-wrap_sidemenu>.text-box_sidemenu .submenu>li:hover>a {
  color: #e63e0f;
}



/* 마이페이지 */
.sidemenu>.all-wrap_sidemenu>.mypage>ul {
  display: flex;
  gap: 30px;
}

.sidemenu>.all-wrap_sidemenu>.mypage>ul>li>a {
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 32px;
  color: #e63e0f;
  transition: all .3s;
}

.sidemenu>.all-wrap_sidemenu>.mypage>ul>li:hover>a {
  font-weight: 700;
}

/* 사이드 메뉴 끝 */

/* right-box */

.right-box {
  width: 80px;
  height: 170px;
  display: flex;
  flex-direction: column;
  top: 700px;
  left: auto;
  right: 70px;
  z-index: 1;
  position: fixed;
  gap: 10px;
}

.right-box.show_sidemenu {
  display: none;
}

.right-box>.right-top {
  width: 100%;
  height: 80px;
  background-color: #F8775C;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}

.right-box>.right-top>.right-top__span {
  font-size: 20px;
}

.right-box>.right-app {
  width: 100%;
  height: 80px;
  background-color: #046746;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}

.right-box>.right-app>.right-app__span {
  font-size: 20px;
}
/* 상단바 끝 */

/* <!-- 메인시작 --> */
.app_main {
  background-color: #fff9e7;
  position: relative; 
  overflow: hidden;
  background-image: url(./app-imgs/main_back-all.png);
  background-size: 2122px;
  background-position: -150px -100px;
  background-repeat: no-repeat;
}

.main-wrap  {
  padding: 250px 295px 0 364px; 
  gap: 195px;
  height: 704px;
}

.main-wrap  .main_text-wrap {
  height: 428px;
  flex-direction: column;
  gap: 66px;
}
.main-wrap  .main_text-wrap .main_text-box {
  flex-direction: column;
  gap: 22px;
}

.main_text-wrap .main_text-box .main_title {
  font-size: 68px;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -1.5;
  color: var(--color-title);
  font-family: 'Aggravo';
  transform: translateY(100%);
  opacity: 0;
  will-change: transform, opacity;
  transition: transform 800ms cubic-bezier(.2,.8,.2,1), opacity 600ms ease;
}

.main_text-wrap .main_text-box .main_title span {
  color: var(--color-main);
}

.main_text-wrap .main_text-box .main_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.5;
  transform: translateY(100%);
  opacity: 0;
  will-change: transform, opacity;
  transition: transform 800ms cubic-bezier(.2,.8,.2,1), opacity 600ms ease;
}

.main-wrap  .main_text-wrap .main_btn-box {
  gap: 20px;
}
.main-wrap  .main_text-wrap .main_btn-box .main_btn {
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--color-btn1);
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;
}
.main-wrap  .main_text-wrap .main_btn-box .main_btn span{
  color: var(--color-background);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5;
}

.main-wrap  .main_text-wrap .main_btn-box .main_btn :hover {
  text-decoration: underline;
}

.main_img-box {
  position: relative;
}

.main_img-box .main_dukgu-img {
  position: absolute;
  z-index: 0;
  top: 190px;
  transform: translateY(300px); /* 아래로 내린 상태 */
  will-change: transform, opacity;
  transition: transform 1000ms cubic-bezier(.2,.8,.2,1), opacity 600ms ease;
}

.main_img-box .main_dukgu-img.is-in {
  transform: translateY(0);
  opacity: 1;
}

.main_img-box .main_dukgu-efect {
  position: absolute;
  bottom: 250px;
 left: 460px;
 opacity: 0;
 transition: opacity 1000ms ease 500ms;
}

.main_img-box .main_dukgu-efect.is-in {
  opacity: 1;
}


.back_img-box .main_bottom {
  position: absolute;
  bottom: 0;
  height: 113px;
}
/* <!-- 메인끝 --> */

/* <!-- sec-2 시작 --> */
.app_sec-2 {
  background-image: url(./app-imgs/sec-2_back-img.png);
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.app_wrap {
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;

}
.sec-2_wrap  {
  padding: 170px 0 0;
  gap: 140px;
}
.app_text-wrap {
  gap: 46px;
  white-space: nowrap;
  height: 330px;
  margin-top: 280px;
  text-align: right;
}

.app_text-wrap .app_text-box {
  gap: 22px;
}

.app_text-wrap .app_text-box .app_title h1 {
  font-family:  'Aggravo';
  font-size: 45px;
  font-weight: 700;
  color: var(--color-point-title);
  letter-spacing: -1px;
  text-align: left;
}

.app_text-wrap .app_text-box .app_text {
  font-size: 24px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: -.5;
  color: var(--color-btn2);
  text-align: left;
}

.sec_img-wrap {
  position: relative;
}

.sec-2_img-box {
  height: 868px;
}

.phone-img-box {
  top: 0;
  right: -160px;
}

.carrat-box {
  top: -130px;
  right: 330px;
}
/* .app_btn-box {
  animation: pulse 2s infinite ease-in-out alternate;
}

@keyframes pulse {
  from { transform: scale(0.8); }
  to { transform: scale(1.5); }
} */

.app_btn-box {
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-5px);}
}

.back-img {
  position: absolute;
}

/* 토마토 */
.back-img_tomato {
  top: 650px;
  left: -220px;
}

.back-img_sall {
  right: -190px;
  bottom: 640px;
}
/* <!-- sec-2 끝 --> */

/* <!-- sec-3 시작 --> */
.sec-3_wrap {
  padding: 150px 0 0;
  gap: 212px;
}

.sec-3_text-wrap {
  text-align: left;
}
/* <!-- sec-3 끝 --> */

/* <!-- sec-4 시작 --> */
.sec-4_wrap {
  padding-top: 220px;
  gap: 300px;
}

.sec-4 .sec-4_text {
  position: relative;
}

.sec_text-img {
  left: 670px;
  bottom: 360px;
}
/* <!-- sec-4 끝 --> */

/* <!-- event 시작 --> */
.app_event {
  padding: 110px 290px;
  box-sizing: border-box;
}
.mySwiper {
  width: 100%;
  max-width: 1339px;
  margin: 0 auto;
  overflow: hidden;
  height: auto; /* v11의 height:100% 덮어서 내용 높이에 맞추기 */
}
.swiper-slide img {
  height: auto;
}
/* <!-- event 끝 --> */

/* 푸터 시작 */
footer {
  background-color: #046746;
}

footer > .ft-text-wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 65px 255px;
  box-sizing: border-box;
} 

/* footer-logo-box  */

footer > .ft-text-wrap > .footer-logo-box > img {
width: 175.08px;
height: 51.18px;

}

/* 이용약관, 개인정보처리방침 ~ */
footer > .ft-text-wrap > .ft-customer-service > ul {
  padding-top: 35px;
  display:flex;
  justify-content: left;
  gap: 25px;
  padding-bottom: 30px;
}
footer > .ft-text-wrap > .ft-customer-service > ul > li {
  color: #FFF9E7;
  white-space: nowrap;
}

footer > .ft-text-wrap > .ft-customer-service > ul > li > a {
  font-size: 20px;
}

/* ft-text */
footer > .ft-text-wrap > .ft-text {
  color: #FFF9E7;
  font-size: 16px;
  white-space: nowrap;
}
footer > .ft-text-wrap > .ft-text > address, span {
  line-height: 30px;
  
} 
/* sns-box */
footer .sns-box {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 210px;
}

footer .sns-box > .kakaotalk {
  width: 36px;
  height: 36px;
  margin-right: 20px;
}
footer .sns-box > .instagram {
  width: 35px;
  height: 35px;
}